/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         rgb(28, 83, 71);

    --back-col:         rgb(169, 233, 214);
    --back-col-dark:    rgb(141, 201, 178);

    --border-col:       rgb(92, 168, 151);

    --accent-col:       rgb(145, 26, 52);
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--back-col-dark);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Creature List --------------------------------------------------*/

#creatures {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .creature {
        padding: 1rem;

        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: 0.5rem;

        h3 {
            color: var(--accent-col);
            text-align: center;
         
        }
    }
}

/*Forms--------------------------------------*/

form {
    display:flex;
    flex-direction: column;
    gap: 1rem;

    width: 20rem;
    margin-inline: auto;

    padding: 1rem;
    border: 1px solid var(--border-col);
    border-radius: 0.5rem;
    background-color: var(--back-col-dark);

    label {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 0.5rem;
        background-color: var(--accent-col);
        color: var(--back-col);
        border: none;
    }
}

a:link {
    color: var(--text-col);
}